@import "parciales/maps";
@import "parciales/sizes";
@import "parciales/colores";
@import "parciales/fonts";
@import "parciales/animation";
@import "parciales/medias";

body {
    background-image: map-get($body, imagen);
    background-repeat: map-get($body, repeat );
    background-attachment: map-get($body, attach );
    background-position: map-get($body, position );
}

.navbar{
    background-color: $navbarcolor;

    &-brand{
        font-family: $fonths;
        color: $colorverde;
        @include expand1
}
@include expand2
}

.nav-link{
    font-family: $fonttext;
    font-size: $size;
    color: $colorblanco;
    @include flicker1
}

@include flicker2;

h2{
    font-family: $fonths;
    color: $colorverde;
    background-image: $gradiente;
    background-blend-mode: multiply,multiply;
    padding: $ten;
    @include scale1;
}
@include scale2;

h3{
    @include genericos;
}

h5{
    @include genericos;
}

p{
    @include genericos;
}

#inicios__txt{
    line-height: $line;
}

.list-group-item{
    @include genericos;
}

/*FOOTER*/
.container-fluid{
    background-color: $navbarcolor;
    border-top: 2px solid $colorverde;
}

.col-md-4{
    @include genericos2;
}

#copy{
    @include genericos2;
    justify-content: start;
    font-size: $size;
    margin-right: $ten;
    padding: ($ten*2);
    padding-bottom: ($ten*2);
}

label{
    @include genericos2;
    font-size: $size;
}

#contacto{
    background-color: $navbarcolor;
    opacity: 0.8;
}

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    } 

.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

.img-fluid{
    width: 500;
    height: 300;
    object-fit: cover;
}


#imagen_trabaja{
    max-width: 700px !important;
    max-height: 700px !important;
    object-fit: cover;
}

/*EXTEND-- ES EN EL UNICO LUGAR QUE ENCONTRE PONERLO Y AUN ASI NO LO MODIFICO POR QUE NO ME ES NECESARIO, IGUALMENTE LA TEORIA DE SU FUNCION LA ENTIENDO, ESTOY COMPLETAMENTE ABIERTO A COMENTARIOS Y SUGERENCIAS*/
.favi__facebook:hover{
    -webkit-animation: swing-in-top-fwd 1.0s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 1.0s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    }
    @-webkit-keyframes swing-in-top-fwd {
        0% {
          -webkit-transform: rotateX(-100deg);
                  transform: rotateX(-100deg);
          -webkit-transform-origin: top;
                  transform-origin: top;
          opacity: 0;
        }
        100% {
          -webkit-transform: rotateX(0deg);
                  transform: rotateX(0deg);
          -webkit-transform-origin: top;
                  transform-origin: top;
          opacity: 1;
        }
      }
      @keyframes swing-in-top-fwd {
        0% {
          -webkit-transform: rotateX(-100deg);
                  transform: rotateX(-100deg);
          -webkit-transform-origin: top;
                  transform-origin: top;
          opacity: 0;
        }
        100% {
          -webkit-transform: rotateX(0deg);
                  transform: rotateX(0deg);
          -webkit-transform-origin: top;
                  transform-origin: top;
          opacity: 1;
        }}

.favi__instagram:hover{
    @extend .favi__facebook:hover

}

.favi__linkedin:hover{
    @extend .favi__facebook:hover
}


@media screen and (max-width: 1280px){
        #imagen_trabaja{
            max-width: 600px !important;
            max-height: 600px !important;
        }
    }
@media screen and (max-width: 768px){
        #imagen_trabaja{
            max-width: 500px !important;
            max-height: 500px !important;
        }
    }

    @media screen and (max-width: 680px){   
        #imagen_trabaja{
            max-width: 400px !important;
            max-height: 400px !important;
        }
    }

    @media screen and (max-width: 580px){   
        #imagen_trabaja{ display: none;
    }}
